#result {
    display: none;
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

#shareResult {
    background-color: white;
    width: 80%;
    text-align: center;
    border-radius: 20px;
}

.resultname{
    font-size:26px;
}


.resultDesc {
    font-size: 20px;
}

.kakao{
    color: white;
    background-color: #FEE500; 
    font-size:24px; 
    border: 0px;
    border-radius: 20px; 
}

    .kakao:hover, .kakao:focus {
        background-color: whitesmoke;
        color: #FEE500;
    }


.gohome {
    color: white;
    background-color: pink;
    font-size: 24px;
    border: 0px;
    border-radius: 20px;
}

    .kakao:hover, .kakao:focus {
        background-color: whitesmoke;
        color: pink;
    }



/*#barchart_values {
    margin: 0 auto;*/ /* center horizontally */
    /*text-align: center;*/ /* center vertically */
    /*width: 80%;*/ /* set the width of the container */
    /*height: 80%;*/ /* set the height of the container */
/*}*/

/*#barchart_values {
    width: 80%;
    height: 80%;
}

*/